<!-- Coming Soon -->
<section class="comingSoon section">
  <div class="container-md">
    <h2 class="title title--white">COMING SOON</h2>
    <div class="row align-items-center">
      <div class="col-12 col-sm-6">
        <p class="comingSoon__type">COMEDY, CRYME</p>
        <h3>The Hangover Part III</h3>
        <div class="comingSoon__rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <span>
            <i class="fa-solid fa-calendar-days mx-3"></i>
            30 Septemper 2022
          </span>
        </div>
        <p>Odio minus sequi aliquam vel mollitia sed eligendi, doloribus id commodi quis a ab consectetur ipsam veniam facere.</p>
        <a href="#">MORE INFO <i class="fa-solid fa-angle-right"></i></a>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0 comingSoon__video">
        <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://youtu.be/UBgPypHGAqE">
          <div class="comingSoon__video">
            <img class="img-fluid" src="../../../assets/img/slide-3-video.png" alt="">
            <i class="fa-solid fa-play"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


