/* ---------------------------------------Coming Soon----------------------- */
.comingSoon {
  background: #101010 url(../../../assets/img/slide-3.png);
  background-size: cover;
  color: white;
}

.comingSoon__type {
  font-size: 14px;
  color: #ec7532;
  letter-spacing: 2px;

}

.comingSoon h3 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing:1px;
}

.comingSoon__rating > i {
  color: #fbbb61;
}

.comingSoon p {
  margin: 1rem 0;
}

.comingSoon a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:#ec7532;
  text-decoration: none;
  transition: all 0.4s;
}

.comingSoon a:hover {
  color: white;
}

.comingSoon__video {
  position: relative;
}

.comingSoon__video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 1px solid #ec7532;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s;
}

.comingSoon__video:hover i{
  transform: translate(-50%, -50%) scale(1.2);
}
